<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="./index.html" id="site-title" class="text-white text-2xl font-bold">Logo</a>

        <button id="menu-toggle" class="block md:hidden text-white focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                </path>
            </svg>
        </button>

        <div class="hidden md:flex text-white items-center">
            <ul id="menu" class="flex">
                <li class="hover:bg-gray-700 p-2 rounded">
                    <a href="../pages/index.html">Home</a>
                </li>
                <li class="hover:bg-gray-700 p-2 rounded">
                    <a href="#">About</a>
                </li>
                <li id="add-publisher" class="hover:bg-gray-700 p-2 rounded">
                    <a href="../pages/addPublisher.html">Add Publisher</a>
                </li>
                <li id="add-customer" class="hover:bg-gray-700 p-2 rounded">
                    <a href="../pages/addCustomer.html">add customer</a>
                </li>
            </ul>
        </div>

        <div id="nav-login-singup" class="hidden md:flex items-center space-x-4 text-white">
            <a href="./login.html" class="hover:bg-gray-700 p-2 rounded">Log in</a>
            <a href="./register.html" class="hover:bg-gray-700 p-2 rounded bg-white text-gray-800 px-4">Sign Up</a>
        </div>

        <div id="nav-logout" class="hidden md:flex items-center space-x-4 text-white">
            <p>Welcome, <span id="username-show"></span></p>
            <button onclick="logout()" type="button" class="hover:bg-gray-700 p-2 rounded bg-white text-gray-800 px-4">Log out</button>
        </div>
    </div>

    <ul id="mobile-menu" class="hidden md:hidden flex flex-col items-center text-center text-white py-4">
        <li class="hover:bg-gray-700 p-2 rounded w-full">
            <a href="../pages/index.html" class="block w-full">Home</a>
        </li>
        <li class="hover:bg-gray-700 p-2 rounded w-full">
            <a href="#" class="block w-full">About</a>
        </li>
        <li id="add-publisher-mobile" class="hover:bg-gray-700 p-2 rounded w-full">
            <a href="../pages/addPublisher.html" class="block w-full">Add Publisher</a>
        </li>
        <li id="add-customer-mobile" class="hover:bg-gray-700 p-2 rounded w-full">
            <a href="../pages/addCustomer.html" class="block w-full">add customer</a>
        </li>
        <hr class="w-full border-b border-gray-700">

        <div id="nav-login-singup-mobile">
            <li class="hover:bg-gray-700 p-2 rounded w-full">
                <a href="./login.html" class="block w-full hover:bg-gray-700 rounded">Log in</a>
            </li>
            <li class="p-2 rounded w-full block">
                <a href="./register.html" class="block w-full hover:bg-gray-700 p-2 rounded bg-white text-gray-800 px-4">Sign Up</a>
            </li>
        </div>

        <div id="nav-logout-mobile" class="hidden">
            <li class="hover:bg-gray-700 p-2 rounded w-full">
                <p>Welcome, <span id="username-show-mobile"></span></p>
            </li>
            <li class="p-2 rounded w-full block">
                <button onclick="logout()" type="button" class="hover:bg-gray-700 p-2 rounded bg-white text-gray-800 px-4">Log out</button>
            </li>
        </div>
    </ul>
</nav>